{#
/**
 * @file
 * Default theme implementation to display rendered swiper rows.
 *
 * Available variables:
 * - rows: A list of rendered entities
 * - container_class: The class to put on the container
 * - row_wrapper_class: The class to put on the row wrapper
 *
 * @ingroup themeable
 */
#}
<div class="{{ container_class }} {{ dom_id }}">
  <div class="{{ row_container_class }}">
{% for row in rows %}
    <div class="{{ row_class }}">
      {{- row -}}
    </div>
{% endfor %}
  </div>
{%- if swiper_pagination -%}
  <div class="{{ swiper_pagination }}"></div>
{%- endif -%}
{%- if swiper_button_prev -%}
  <div class="{{ swiper_button_prev }}"></div>
{%- endif -%}
{%- if swiper_button_next -%}
  <div class="{{ swiper_button_next }}"></div>
{%- endif -%}
{%- if swiper_scrollbar -%}
  <div class="{{ swiper_scrollbar }}"></div>
{%- endif -%}
</div>