{#
/**
 * @file
 * Default theme implementation to display a view of swiper rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="{{ row_wrapper }}">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}
</div>
{%- if swiper_pagination -%}
<div class="{{ swiper_pagination }}"></div>
{%- endif -%}
{%- if swiper_button_prev -%}
<div class="{{ swiper_button_prev }}"></div>
{%- endif -%}
{%- if swiper_button_next -%}
<div class="{{ swiper_button_next }}"></div>
{%- endif -%}
{%- if swiper_scrollbar -%}
<div class="{{ swiper_scrollbar }}"></div>
{%- endif -%}
